<div class="topnav">
    <ul class="navbar-nav" >
        <a href="/login"><button>Login</button></a>
        <a href="/signUp"><button>Sign Up</button></a>
        <a href="/projects"><button>Projects</button></a>
    </ul>
</div>
