<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header', {title: "KEROYOKIN"}) %> 
<body style="text-align: center;">
    <h1>Welcome to Keroyokin</h1>
    <h3>"karna kalo keroyokan lebih enak"</h3>
    <%- include('./partials/navbar') %> 
</body>
</html>